#footer{
	display:block;
    background:#868686;
    margin-top: 20px;
    /*主轴x轴*/
    display:flex;
    /*x轴每个项目两端的距离相等*/
    justify-content: space-around;
    /*Y轴居中对齐*/
    text-align: center;
    color:#fff;
}
#footer .footer-logo{
    margin-top: 20px;
}
#footer .footer-logo img{
    width:120px;
}
#footer .footer-nav li{
    width: 100px;
    height:18px;
    float:left;
    text-align:center;
}
#footer .footer-nav li a{
    font-size:14px;
    font-family:"微软雅黑";
    margin-right: 9px;
    color: #fff;
}
#footer .footer-nav li a:hover{
    color: #BCBCBC;
}
#footer p{
    margin-top: 20px;
    font-size: 14px;
    font-family:"微软雅黑";
}
#footer p:last-child{
    margin-bottom: 30px;
}
