/* line 2, ../sass/list_case.scss */
.container-wrap {
  width: 1496px;
  margin: 76px auto 0;
  background-color: #f8f8f8;
}
/* line 6, ../sass/list_case.scss */
.container-wrap .container-list-nav {
  width: 1496px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
}
/* line 10, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists {
  height: 50px;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #f0f0f0;
}
/* line 14, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list {
  overflow: hidden;
}
/* line 16, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-info-item {
  float: left;
  height: 20px;
  margin-right: 12px;
}
/* line 20, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-info-item .select-item-link {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}
/* line 27, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-info-item .arrow {
  line-height: 20px;
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}
/* line 33, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-info-item.gzxiaoguotu {
  float: right;
  margin-right: 40px;
}
/* line 38, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-filter {
  height: 20px;
  padding: 0 23px 0 6px;
  border: 1px solid #0cbc69;
  position: relative;
}
/* line 43, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-filter .select-filter-link {
  color: #0cbc69;
  display: inline-block;
  text-decoration: none;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}
/* line 50, ../sass/list_case.scss */
.container-wrap .container-list-nav .breadcrumb-lists .select-info-list .select-filter .select-filter-link .close {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/xgt/pc/images/list/icon_close.png) no-repeat;
  position: absolute;
  right: 4px;
  top: 3px;
}
/* line 64, ../sass/list_case.scss */
.container-wrap .images-classification-list {
  margin-top: 20px;
  width: 1496px;
  overflow: hidden;
  background-color: #f8f8f8;
}
/* line 69, ../sass/list_case.scss */
.container-wrap .images-classification-list .images-classification-item {
  float: left;
  position: relative;
  font-size: 0;
  margin-right: 16px;
}
/* line 74, ../sass/list_case.scss */
.container-wrap .images-classification-list .images-classification-item:last-child {
  margin-right: 0;
}
/* line 77, ../sass/list_case.scss */
.container-wrap .images-classification-list .images-classification-item .img-link {
  text-decoration: none;
  width: 286px;
  height: 120px;
  display: inline-block;
}
/* line 82, ../sass/list_case.scss */
.container-wrap .images-classification-list .images-classification-item .img-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 88, ../sass/list_case.scss */
.container-wrap .images-classification-list .images-classification-item .mask {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 286px;
  height: 120px;
  text-align: center;
  padding-top: 47px;
  font-size: 26px;
  color: #bbb;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 101, ../sass/list_case.scss */
.container-wrap .images-classification-list .images-classification-item .mask:hover, .container-wrap .images-classification-list .images-classification-item .mask.active {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
/* line 109, ../sass/list_case.scss */
.container-wrap .relation-pics {
  margin-top: 20px;
  background-color: #f8f8f8;
}
/* line 112, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list {
  overflow: hidden;
}
/* line 114, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item {
  float: left;
  background-color: #fff;
  width: 362px;
  border: 1px solid #f0f0f0;
  margin: 0 16px 16px 0;
  font-size: 0;
  cursor: pointer;
}
/* line 122, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
/* line 125, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .pics-item-link {
  text-decoration: none;
  width: 360px;
  height: 264px;
  display: inline-block;
  overflow: hidden;
}
/* line 131, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .pics-item-link img {
  object-fit: cover;
  width: 360px;
  height: 264px;
}
/* line 135, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .pics-item-link img:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  background-color: #000;
}
/* line 142, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .title-item-link {
  display: inline-block;
  padding: 9px 12px 14px;
  text-decoration: none;
}
/* line 146, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .title-item-link .title {
  width: 336px;
  padding: 8px 0 4px;
  font-size: 18px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 156, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .title-item-link .title:hover {
  color: #0cb469;
}
/* line 160, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item .title-item-link .description {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 38px;
}
/* line 171, ../sass/list_case.scss */
.container-wrap .relation-pics .pics-list .pics-item:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-width: 1528px) {
  /* line 179, ../sass/list_case.scss */
  .container-wrap {
    width: 1196px;
    overflow-x: hidden;
  }
  /* line 182, ../sass/list_case.scss */
  .container-wrap .container-list-nav {
    width: 1196px;
  }
  /* line 185, ../sass/list_case.scss */
  .container-wrap .images-classification-list {
    width: 1196px;
  }
  /* line 188, ../sass/list_case.scss */
  .container-wrap .images-classification-list .images-classification-item .img-link {
    width: 226px;
  }
  /* line 191, ../sass/list_case.scss */
  .container-wrap .images-classification-list .images-classification-item .mask {
    width: 226px;
  }
  /* line 198, ../sass/list_case.scss */
  .container-wrap .relation-pics .pics-list .pics-item {
    width: 287px;
  }
  /* line 200, ../sass/list_case.scss */
  .container-wrap .relation-pics .pics-list .pics-item .pics-item-link {
    width: 285px;
    height: 166px;
  }
  /* line 203, ../sass/list_case.scss */
  .container-wrap .relation-pics .pics-list .pics-item .pics-item-link img {
    width: 287px;
    height: 166px;
  }
  /* line 208, ../sass/list_case.scss */
  .container-wrap .relation-pics .pics-list .pics-item .title-item-link {
    display: inline-block;
    padding: 9px 12px 14px;
    text-decoration: none;
  }
  /* line 212, ../sass/list_case.scss */
  .container-wrap .relation-pics .pics-list .pics-item .title-item-link .title {
    width: 261px;
  }
}
